name: kindredcard
services:
  postgres:
    image: postgres:17.7
    container_name: kindredcard-db
    environment:
      TZ: America/Chicago
      POSTGRES_USER: kindredcard
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: kindredcard
    networks:
      - pangolin_network
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kindredcard"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  app:
    image: ghcr.io/steveredden/kindredcard:v0.0.1
    env_file:
      - .env
    environment:
      TZ: America/Chicago
      BASE_URL: https://kindredcard.my.tld
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: kindredcard
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: kindredcard
      APP_KEY: ${APP_KEY}
      LOG_LEVEL: INFO
      ENABLE_TWO_WAY_CARDDAV: TRUE
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - pangolin_network
    restart: unless-stopped
    logging:
      driver: loki
      options:
        loki-url: "http://192.168.1.188:3100/loki/api/v1/push"
        loki-retries: 2
        loki-max-backoff: 800ms
        loki-timeout: 1s
        keep-file: "true"
        mode: "non-blocking"

networks:
  pangolin_network:
    external: true
    name: pangolin

volumes:
  pg_data:
