{{define "footer"}}
<div class="text-center mt-8 py-4 text-sm text-base-content/60">
    <p>Made with 💙 by KindredCard</p>
    <div class="flex justify-center gap-4 mt-2">
        <a href="https://github.com/steveredden/KindredCard" target="_blank" class="link link-hover text-xs">View Source (AGPLv3)</a>
        <a href="https://github.com/steveredden/KindredCard/releases" target="_blank" class="link link-hover text-xs">{{appVersion}}</a>
        <a href="https://github.com/steveredden/KindredCard/wiki" target="_blank" class="link link-hover text-xs">Help</a>
    </div>
</div>
{{end}}